.contacto{
	width:60%;
	margin: 50px auto;

}
.contacto form{
	margin-bottom: 150px;
}
.contacto h2{
	text-align: center;
	color: #333;
}
.contacto form input,textarea{
	display: block;
	outline: none;
	border: none;
	border-bottom: 2px solid #aaa;
	margin: 10px;
	padding: 15px;
	width: 100%;
}

.contacto input[type='submit']{
	background-color: #aaa;

}
