/* importando componetes */

@import "nav.css";
@import "contacto.css";
* {
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: arial;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
    grid-template-rows: repeat(auto-fill, minmax(150px, 300px));
    grid-auto-flow: dense;
    grid-gap: 10px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.container img:nth-child(9) {
    grid-column: 1 / 3;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-random {
    width: 500px;
    display: block;
    margin: 10px auto;
}

.cat-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

button {
    display: block;
    padding: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    font-size: 1rem;
    margin: 20px auto;
}

button:hover {
    background-color: #555;
    cursor: pointer;
}

.footer {
    margin-top: auto;
    width: 100%;
    padding: 30px 0px;
    background-color: #333;
    text-align: center;
    color: #fff;
}

.footer a {
    color: #fff;
}

.aside {
    width: auto;
    margin-bottom: 100px;
}

.section-races__card {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-races__article {
    flex-basis: 250px;
    margin: 20px;
}

.section-races__title {
    text-align: center;
    font-family: 2rem arial;
    text-transform: capitalize;
}

.section-races__article img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.section-races__enlaces a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #333;
    margin-left: 10px;
}

.section-races__enlaces {
    width: 300px;
    margin: 30px auto;
}

.enlazes a:hover {
    background-color: #444;
}


/* responsive  */

@media screen and (max-width: 600px) {
    .container img:nth-child(9) {
        grid-column: 1 / 2;
    }
}

.card-cat {
    columns: 5 320px;
    column-gap: 10px;
}

.card-cat img {
    max-width: 100%;
}

.card-cat__intruccion {
    color: hsl(0, 5%, 50%);
}

.cat-random-title {
    color: #333;
    text-align: center;
}

.section-races__article {
    flex-basis: 300px;
}

.section-races__title {
    text-align: center;
}

.error-404 {
    width: 400px;
    margin: 20px auto;
}

.logo-jansel {
    position: absolute;
    display: block;
    width: 250px;
    left: 30px;
}