<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">

    <link rel="icon" href="{{ url_for('static',filename='img/gatos/gato12.jpg') }}">

    <title>{% block title %}{% endblock %} | Cat Web</title>
</head>

<body>
    <div class="barra-menu">
        <div class="barra">
            <img src="{{ url_for('static',filename='img/menu.svg') }}" alt="menu icon" class="icon-menu">
        </div>
    </div>
    <ul class="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/random-cat">Gatos Aleatorios</a></li>
        <li><a href="/about">Contacto</a></li>
    </ul>
    {% block content %} {% endblock %}
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
    <footer class="footer">
        <img class="logo-jansel" src="{{ url_for('static',filename='img/janselroa.jpg') }}" alt="">
        <p>2021 &copy por Jansel Roa, un progroyecto open source <a target="_blank" href="https://github.com/janselroa">Github Proyect</a></p>
    </footer>

</body>

</html>